SECRET_KEY='hard to guess string'
SSL_DISABLE=False
SQLALCHEMY_COMMIT_ON_TEARDOWN=True
SQLALCHEMY_RECORD_QUERIES=True
MAIL_SERVER='smtp.googlemail.com'
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME='enter username'
MAIL_PASSWORD='enter password'
FLASKY_MAIL_SUBJECT_PREFIX = '[Flasky]'
FLASKY_MAIL_SENDER = 'Flasky Admin <flasky@example.com>'
FLASKY_ADMIN='email address of admin account'
FLASKY_POSTS_PER_PAGE=20
FLASKY_FOLLOWERS_PER_PAGE=50
FLASKY_COMMENTS_PER_PAGE=30
FLASKY_SLOW_DB_QUERY_TIME=0.5
DATABASE_URL=